!Build/
.last_cover_stats
/META.yml
/META.json
/MYMETA.*
*.o
*.pm.tdy
*.bs
.nextflow*
report*.html
bin/

# Devel::Cover
cover_db/

# Devel::NYTProf
nytprof.out

# Dist::Zilla
/.build/

# Module::Build
_build/
Build
Build.bat

# Module::Install
inc/

# ExtUtils::MakeMaker
/blib/
/_eumm/
/*.gz
/Makefile
/Makefile.old
/MANIFEST.bak
/pm_to_blib
/*.zip

.idea/
**/.ipynb_checkpoints

# Output directories and files
/src/nonhost/fastq/
/src/nonhost/logs/
/src/nonhost/prefetched/
/src/nonhost/slurm.out/
/src/nonhost/STAR_out/
/src/nonhost/stdout_stderr
/src/Serratus_Lite/query_virus_data/*.fa.*
!/src/Serratus_Lite/query_virus_data/*.tsv
/src/Serratus_Lite/slurm.out/
/src/Serratus_Lite/results/
/src/nonhost/test10/
/src/nonhost/slurm.out/
reports
old_reports/
prod-reports/
benchmark_reports/
resource-tuning/*.txt
resource_tuning/*.txt
readstats/*.txt
readstats/*.png
/src/nf-nonhost/util/old/
Bowtie2_out/
hisat2_out/
STAR_out/
star_Danio_rerio_indexes.ERCC
star_Danio_rerio_indexes
Danio_rerio_genome
hisat2_Danio_rerio.GRCz11.dna_sm.primary_assembly_indexes
bowtie2_Danio_rerio.GRCz11.dna_sm.primary_assembly_indexes
gmap_Danio_rerio_index
gmap_Danio_rerio_indexes
bowtie2_index

slurm.out
src/nf-nonhost/fastq/
src/nf-nonhost/nonhost_reads/
src/nf-nonhost/counts/
