report.overwrite   = true
timeline.overwrite = true

params {
    publish_dir         = "$projectDir"
    db_dir              = "$projectDir/db"
    sra_tab_file        = null
    accession_list      = null
    bioproj_map         = null
    unmerged_accessions = null
}

process {
    withLabel: 'retry' {
        maxRetries = 3
    }
    withLabel: '!retry' {
        maxRetries = 1
    }
    withLabel: 'retry|skippable' {
        errorStrategy = { (task.attempt <= process.maxRetries) ? 'retry' : 'ignore' }
    }
    withLabel: '!retry|skippable' {
        errorStrategy = 'ignore'
    }
}

profiles {
    test {
        params.sra_tab_file        = "/hpc/projects/balla_group/sra_experiments/SRA_metadata/SRA_Accessions.tab"
        params.bioproj_map         = "$projectDir/test/sample_mapping.json"
        params.unmerged_accessions = "/hpc/projects/balla_group/sra_experiments/RNAquarium_prototyping/rnaquarium_unmapped_sample/"
    }

    slurm {
        process {
            executor = 'slurm'
        }

        executor {
            queueSize = 5
        }
    }

    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        conda.enabled          = false
    }

    conda {
        conda.enabled       = true
        conda.useMamba      = false
        singularity.enabled = false
    }

    mamba {
        conda.enabled       = true
        conda.useMamba      = true
        singularity.enabled = false
    }
}
