process {
    maxRetries = 5

    withLabel: 'use_scratch' {
        scratch = true
    }

    // --------
    // Assembly
    // --------
    withName: 'SPADES_(SINGLE|PAIRED)_END' {
        container = 'docker://staphb/spades'
        conda = 'bioconda::spades=3.15.5'

        cpus = 16
        time = { task.attempt > 1 ? task.attempt * 24.hour : 1.hour }
        errorStrategy = {
            (task.exitStatus == 9 || task.attempt > 1) ? 'ignore' : 'retry' 
        }
        errorStrategy = 'ignore'
    }
    withName: 'SPADES_SINGLE_END' {
        publishDir = [
            path: { "${params.publish_dir}/single_end" }
        ]
        memory = { 16.GB * task.attempt }
    }
    withName: 'SPADES_PAIRED_END' {
        publishDir = [
            path: { "${params.publish_dir}/paired_end" }
        ]
        memory = { 32.GB * task.attempt }
    }

    // ---------
    // Pre-BLAST
    // ---------
    withName: 'CHUNK_ASSEMBLED_FASTAS*' {
        container = 'staphb/seqkit'
    }

    // -----
    // BLAST
    // -----
    withName: 'BLAST' {
        container = 'staphb/blast:2.15.0'
        containerOptions = { "--mount type=bind,src=${params.nt_dir},dst=/db" }

        cpus = 32
        time = { task.attempt * 7.day }
        memory = { 64.GB * task.attempt }
        errorStrategy = { task.attempt > 3 ? 'ignore' : 'retry' }
    }
    withName: 'BLAST_FULL_NT' {
        container = 'staphb/blast:2.15.0'
        containerOptions = { "--mount type=bind,src=${params.nt_dir},dst=/db" }

        cpus = 16
        time = { task.attempt * 7.day }
        memory = { 64.GB * task.attempt }
        errorStrategy = { task.attempt > 3 ? 'ignore' : 'retry' }
    }
    withName: 'CUT_BLAST_RESULTS' {
        container = 'staphb/seqtk:1.4'
    }

    // -------
    // DIAMOND
    // -------
    withName: 'CHUNK_NONZFHUM_FASTA' {
        container = 'staphb/seqkit'
    }
    withName: 'DIAMOND' {
        container = 'staphb/diamond:2.1.9'
        containerOptions = { "--mount type=bind,src=${params.nr_dir},dst=/db" }

        cpus = 16
        time = { task.attempt * 7.day }
        memory = { 64.GB * task.attempt }
        errorStrategy = { task.attempt > 3 ? 'ignore' : 'retry' }
    }
}
