process {
    withLabel: 'use_scratch' {
        scratch = true
    }

    // --------
    // Assembly
    // --------

    withName: 'SPADES_(SINGLE|PAIRED)_END' {
        container = 'docker://staphb/spades'
        conda = 'bioconda::spades=3.15.5'

        cpus = 16
        maxRetries = 5
        time = { task.attempt > 1 ? task.attempt * 24.hour : 1.hour }
        errorStrategy = {
            (task.exitStatus == 9 || task.attempt > maxRetries) ? 'ignore' : 'retry' 
        }
    }
    withName: 'SPADES_SINGLE_END' {
        publishDir = [
            path: { "${params.publish_dir}/single_end" }
        ]
        memory = { 16.GB * task.attempt }
    }
    withName: 'SPADES_PAIRED_END' {
        publishDir = [
            path: { "${params.publish_dir}/paired_end" }
        ]
        memory = { 32.GB * task.attempt }
    }
}
