import java.time.*
import java.text.DecimalFormat
import nextflow.util.SysHelper
import nextflow.util.MemoryUnit

DecimalFormat df = new DecimalFormat("#")
df.setMaximumFractionDigits(0)

manifest {
	name = "czbiohub-sf/Zebrafish-RNAquarium"
	description = "reprocessing of public rna-seq datasets for non-host reads"
	homepage = "https://github.com/czbiohub-sf/Zebrafish-RNAquarium"
	author = "Yttria Aniseia"
	mainScript = "main.nf"
	nextflowVersion = ">= 22.10"
}

plugins {
	id 'nf-validation'
}
params {
	reportdir = "reports"
	timestamp = new Date().format("YYMMdd-HHmmss")
	tmp = null
	maxMemory = SysHelper.getAvailMemory().getBytes() ? SysHelper.getAvailMemory() : '240GB' as MemoryUnit
	maxCpus = SysHelper.getAvailCpus() ? SysHelper.getAvailCpus() : 32
}
timeline {enabled = true
		  file = "${params.reportdir}/timeline-${params.timestamp}.html"}
report {enabled = true
		file = "${params.reportdir}/report-${params.timestamp}.html"}
trace {enabled = true
	   file = "${params.reportdir}/trace-${params.timestamp}.txt"}
dag {enabled = false
	 file = "${params.reportdir}/dag-${params.timestamp}.svg"}

profiles {
	docker {
		docker.enabled = true
	}
	singularity {
		singularity.enabled = true
		singularity.autoMounts = true
	}
	testing {
		process {
			debug = true
			executor = 'local'
			cache = 'lenient'
			errorStrategy = 'terminate'
			scratch = params.tmp ?: "/tmp/"
		}
		params {
			maxMemory = SysHelper.getAvailMemory().getBytes() ? SysHelper.getAvailMemory() : '240GB' as MemoryUnit
			maxCpus = SysHelper.getAvailCpus() ? SysHelper.getAvailCpus() : 32
			maxCpus = 4
			maxMemory = "18000000000B"
		}
	}
	slurm {
		process {
			executor = 'slurm'
			cache = 'lenient'
			scratch = params.tmp ?: "/tmp/"
			maxRetries = 1
			errorStrategy = { (task.attempt <= process.maxRetries)
							 ? 'retry' : 'ignore' }
		}
		params {
			maxMemory = '240GB' as MemoryUnit
			maxCpus = 32
		}
	}
}


def cpus(v) {
	DecimalFormat df = new DecimalFormat("#")
	df.setMaximumFractionDigits(0)
	req_cpus = "${df.format(Math.ceil(v()))}" as int
	try {
		return Math.min( req_cpus, params.maxCpus as int )
	} catch (all) {
		println "   ### WARNING ###   Max cpus '${params.maxCpus}' is not valid! Using default value: $req_cpus"
		return req_cpus
	}
}

def mem(v, unit) {
	DecimalFormat df = new DecimalFormat("#")
	df.setMaximumFractionDigits(0)
	req_mem = MemoryUnit.of("${df.format(Math.ceil(v()))}${unit}")
	try {
		if (req_mem.compareTo(params.maxMemory as MemoryUnit) == 1)
			return params.maxMemory as MemoryUnit
		else
			return req_mem
	} catch (all) {
		println "   ### WARNING ###   Max memory '${params.maxMemory()}' is not valid! Using default value: $req_mem"
		return req_mem
	}
}

def tmp(v, unit) {
	if (!task.scratch.toString().startsWith("/tmp"))
		return ""

	DecimalFormat df = new DecimalFormat("#")
	df.setMaximumFractionDigits(0)
	req_tmp = MemoryUnit.of("${df.format(Math.ceil(v()))}${unit}")
	if (req_tmp.compareTo("8G" as MemoryUnit) == 1) {
		task.scratch = params.bigTmp
		return ""
	} else {
		return "tmp=${MemoryUnit.of("${df.format(Math.ceil(2*v()))}${unit}").toGiga()}G"
	}
}

def time(v, unit) {
	DecimalFormat df = new DecimalFormat("#")
	df.setMaximumFractionDigits(0)
	req_time = nextflow.util.Duration.of("${df.format(Math.ceil(v()))}${unit}")
	try {
		if (req_time.compareTo(params.maxTime as nextflow.util.Duration) == 1)
			return params.maxTime as nextflow.util.Duration
		else
			return req_time
	} catch (all) {
		println "   ### WARNING ###   Max time '${params.maxTime}' is not valid! Using default value: $req_time"
		return req_time
	}
}

def container_select(singularity_path, docker_path) {
	return workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? singularity_path : docker_path
}

process {
	tag = {"$meta.id"}
	publishDir.enabled = {params.publishIntermediate}
	ext.python_version = '3.10.2'

	// task.attempt starts at 1
	// STEP 1: Download
	withLabel: sratools {
		container = {container_select(
			'https://depot.galaxyproject.org/singularity/sra-tools:3.0.0--pl5321hd0d85c6_1',
			'quay.io/biocontainers/sra-tools:3.0.0--pl5321hd0d85c6_1')}
		container = {container_select(
			'https://depot.galaxyproject.org/singularity/sra-tools:3.0.7--h9f5acd7_0',
			'quay.io/biocontainers/sra-tools:3.0.7--h9f5acd7_0')}
	}
	withName: prefetch {
		cpus = 1
		memory = {mem({4*task.attempt}, "GB")} // was 200+800*attempt MB, larger stageout copies OOMed
		time = {time({90 + 60*task.attempt}, "min")}
	}
	withName: fastq_dump {
		// TODO: we can't fall back to process.errorStrategy, for some reason
		errorStrategy = { task.exitStatus != 3 ? 'retry' : 'ignore' }
		cpus = 2
		memory = {mem({2000000000L + (5.5L)*meta.sra_size * task.attempt}, "B")}
		clusterOptions = {tmp({2*meta.sra_size}, "B")}
		time = {time({80000/task.cpus + 0.00000075*meta.sra_size * task.attempt}, "s")}

		publishDir.enabled = {params.publishIntermediate && params.publishFastqs}
	}
	withLabel: median {
		cpus = 1
		memory = {mem({4}, "GB")} // fastq-lengths ~16MB, but gzip needs more?
		//time = {time({1000 + 0.0000015*meta.reads}, "s")}
		container = ''
	}

	// STEP 2: Trimming and QC
	withLabel: fastp {
		cpus = 4
		memory = {mem({3000 + 11*meta.readlen}, "MB")}
		time = {time({1800*task.attempt + .0000000084*meta.fastq_size}, "s")}
		container = {container_select(
			'https://depot.galaxyproject.org/singularity/fastp:0.23.2--hadf994f_5',
			'quay.io/biocontainers/fastp:0.23.2--hadf994f_5')}
	}
	withLabel: price {
		cpus = 1 // priceseqfilter doesn't parallelize well
		memory = {mem({4096000*task.attempt}, "KB")} // 16.2*meta.readlen for price, 1gb for gzip
		container = ''
		publishDir.enabled = {params.publishIntermediate && params.publishPricefiltered}
	}

	// STEP 3: Hisat2
	withLabel: hisat2 {
		container = {container_select(
			'https://depot.galaxyproject.org/singularity/hisat2:2.2.1--hdbdd923_6',
			'quay.io/biocontainers/hisat2:2.2.1--hdbdd923_6')}
	}
	withName: hisat2_generate_indexes {
		cpus = {cpus({32})}
		memory = {mem({240}, "GB")}
		publishDir = [ path: {"$params.publishDir/hisat2_${ref_genome_fa.baseName}_indexes"}, mode: 'copy' ]
	}
	withName: hisat2 { // [nonhost] mapping
		cpus = {cpus({8})}
		// PROVISIONAL change later
		memory = {mem({4*task.attempt}, "GB")}
		publishDir = [ path: {"$params.publishDir/intermediate/hisat2_out/$meta.id"} ]
		publishDir.enabled = {params.publishIntermediate && params.publishHisat}
	}

	// STEP 4: STAR
	withLabel: star {
		container = {container_select(
			'https://depot.galaxyproject.org/singularity/star:2.7.10b--h9ee0642_0',
			'quay.io/biocontainers/star:2.7.10b--h9ee0642_0')}
	}
	withName: star_generate_indexes {
		// TODO: making this dynamic would be based on genome size
		// "The required RAM is ~10*GenomeSize bytes for the genome indices, plus per-thread buffer memory (150MB per thread)" [https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4631051/]
		// wants as many thread as SA chunks
		cpus = {cpus({20})}
		// PROVISIONAL change later
		memory = {mem({45}, "GB")} // 22.564
		time = {time({120}, "min")} // 59m 11s
		publishDir = [ path: {"$params.publishDir"}, mode: 'copy' ]
	}
	withName: star { // mapping
		// MUST be lowered in low-memory environments
		cpus = (params.maxMemory as MemoryUnit)
			.compareTo(MemoryUnit.of("32GB")) < 0 ? {1} :
			{meta.fastq_size < 4000_000_000 ? params.starThreadsSmall : params.starThreadsLarge}
		memory = {mem({11*(params.genomeSize/(10**9)) + 6*task.cpus*task.attempt}, "GB")}
		publishDir = [ path: {"$params.publishDir/intermediate/STAR_out/$meta.id"} ]
		publishDir.enabled = {params.publishIntermediate && params.publishStar}
	}

	// STEP 5: Bowtie2
	withLabel: bowtie2 { // bowtie2 container
		container = {container_select(
			'https://depot.galaxyproject.org/singularity/bowtie2:2.4.5--py37hb24965f_4',
			'quay.io/biocontainers/bowtie2:2.4.5--py37hb24965f_4')}
	}
	withName: bowtie2_generate_indexes {
		cpus = {cpus({8})}
		publishDir = [ path: {"$params.publishDir/bowtie2_${ref_genome_fa.baseName}_indexes"}, mode: 'copy' ]
	}
	withName: bowtie2 {
		// "when aligning to a human genome index, increasing -p from 1 to 8
		// increases the memory footprint by a few hundred megabytes."
		// PROVISIONAL unoptimized
		cpus = {cpus({8})}
		memory = {mem({8*task.attempt}, "GB")}
		publishDir = [ path: {"$params.publishDir/intermediate/Bowtie2_out/$meta.id"} ]
		publishDir.enabled = {params.publishIntermediate && params.publishBowtie}
	}
	withName: process_bowtie2_sam {
		cpus = {cpus({2})}
		memory = {mem({4*task.attempt}, "GB")}
		time = {time({10*task.attempt}, "min")}
		publishDir = [ path: {"$params.publishDir/intermediate/Bowtie2_out/$meta.id"} ]
	}
	withName: bowtie2_filter_by_names {
		cpus = {cpus({1})}
		memory = {mem({2*task.attempt}, "GB")}
		time = {time({10*task.attempt}, "min")}
	}

	// STEP 6: dedup
	withLabel: dedup {
		cpus = {cpus({1})}
		memory = {mem({2}, "GB")}
	}

	// STEP 7: gsnap
	withLabel: gmap { // gmap/gsnap container
		// don't use gmap containers (slow and/or broken)
		cpus = {cpus({4})}
	}
	withName: gsnap_generate_indexes {
		memory = {mem({4}, "GB")}
		publishDir = [ path: {"$params.publishDir"}, mode: 'copy' ]
	}
	withName: gsnap {
		maxRetries = 2
		cpus = (params.maxMemory as MemoryUnit)
			.compareTo(MemoryUnit.of("32GB")) < 0 ? {4} : {8}
		// up to 32.9 GB or so
		//memory = {mem({4}, "GB")}
		memory = {mem({16*task.attempt + 2*task.cpus*Math.ceil(meta.reads/(10**7))}, "GB")}
		publishDir = [ path: {"$params.publishDir/intermediate/gsnap_out/$meta.id"} ]
		publishDir.enabled = {params.publishIntermediate && params.publishGsnap}
	}
	withName: process_gsnap_sam {
		cpus = {cpus({2})}
		memory = {mem({2*task.attempt}, "GB")}
		time = {time({10*task.attempt}, "min")}
	}
	withName: gsnap_filter_by_names {
		cpus = {cpus({1})}
		memory = {mem({2*task.attempt}, "GB")}
		time = {time({10*task.attempt}, "min")}
		publishDir = [ path: {"$params.publishDir/nonhost_reads/$meta.id/"} ]
		publishDir.enabled = true
	}

	// STEP 3b fork: Host read counts
	withName: star_counts { // read counts
		// MUST be lowered in low-memory environments
		cpus = (params.maxMemory as MemoryUnit)
			.compareTo(MemoryUnit.of("32GB")) < 0 ? {2} : {8}
		memory = {mem({11*(params.genomeSize/(10^9)) + 0.2*task.cpus}, "GB")}
		publishDir = [ path: {"$params.publishDir/intermediate/STAR_out/counts/$meta.id"} ]
		publishDir.enabled = {params.publishIntermediate && params.publishReadcounts}
	}
	withLabel: samtools {
		container = {container_select(
			'https://depot.galaxyproject.org/singularity/samtools:1.16.1--h00cdaf9_2',
			'quay.io/biocontainers/samtools:1.16.1--h00cdaf9_2')}
	}
	withName: sort_bam {
		// partially based on info from https://bioinformatics.stackexchange.com/a/18626
		cpus = {cpus({2 + 2*task.attempt})}
		// PROVISIONAL change later
		memory = {mem({2 + 4*task.attempt}, "GB")}
	}
	withLabel: htseq {
		cpus = {cpus({1})}
		memory = {mem({2}, "GB")}
		container = {container_select(
			'https://depot.galaxyproject.org/singularity/htseq:2.0.2--py310h5aa3a86_1',
			'quay.io/biocontainers/htseq:2.0.2--py310h5aa3a86_1')}
		publishDir = [ path: {"$params.publishDir/counts/$meta.id"} ]
	}

    withLabel: spades {
		publishDir = [ path: {"params.publishDir/SPAdes/"}, mode: "copy" ]
		cpus = 8
		memory = {mem({196}, "GB")}
		container = {container_select(
			'https://depot.galaxyproject.org/singularity/spades:3.15.5--h95f258a_1',
			'quay.io/biocontainers/spades:3.15.5--h95f258a_1')}
	}	
}
