docker.enabled = true

process {
	ext.python_version = '3.10.2'
	ext.biopython_version = '1.75'
	ext.htseq_version = '2.0.2--py310h5aa3a86_1'

	withLabel: sratools {
		container = "quay.io/biocontainers/sra-tools:3.0.0--pl5321hd0d85c6_1"
	}
	withlabel: median {
		container = "fastq-lengths:0.1.0"
	}
	withLabel: fastp {
		container = "quay.io/biocontainers/fastp:0.23.2--hadf994f_5"
	}
	withLabel: price {
		container = "price-assembler:1.2"
	}
}